* {
    border: 0;
    padding: 0;
    margin: 0
}

// Colors
$bg-color: #000;
$dot-color: #fff;
$tree: #336666;
$car: #cc3333;
$car-shadow:#990000;

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

//branches 
@mixin branch() {
    content: '';
    position: relative;

    border: {
        bottom: solid 2rem $tree;
        right: solid 2.3rem transparent;
        left: solid 2.3rem transparent;
        radius: 90% 0% 30% 20%;
    }
}
@mixin gift($color,$height,$width){
	position:absolute;
	width:$width;
	height:$height;
	background:$color;
}

// Dimensions
$dot-size: .09rem;
$dot-space: 3rem;

body {
    background:
        linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
        $dot-color;
    background-size: $dot-space $dot-space;
}

//container
.container {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tree {
    transform: rotate(-20deg);

    margin: {
        top: 3rem;
        left: -10.8rem;
    }

    &:before {
        @include branch;
        top: 11.5rem;
        transform: rotate(-10deg);
    }

    &:after {
        @include branch;
        top: 4.8rem;
        transform: rotate(2deg);
    }

    >* {
        @include branch;
        top: 12.2rem;
    }
}

.branch-1 {
    margin-top: -.2rem;
    transform: rotate(7deg);
}

.branch-2 {
    width: 1rem;
    margin-top: -.9rem;
    transform: rotate(5deg);
}

.branch-3 {
    width: 1rem;
    margin-top: -.4rem;
}

.car {
    background: $car;
    height: 5.3rem;
    width: 9rem;
    position: absolute;
    margin-top: 19.5rem;

    border: {
        radius: 20%;
        bottom: solid .4rem #fff;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 3rem;
        height: 2.8rem;
        margin-top: 2.5rem;
        box-shadow: inset 0px 15px 7px $car-shadow;
    }

    &:before {
        border-radius: 0 40% 0 0;
    }

    &:after {
        margin-left: 6rem;
        margin-top: -1.3rem;
        border-radius: 30% 0 0 0;
    }
}

.light {
    position: relative;
    z-index: 1;
    background: #ffffcc;
    width: .7rem;
    height: .7rem;
    border-radius: 100%;
    border: solid .08rem black;
    box-shadow: inset 1px 0px 7px black;
    margin-top: 3rem;
    margin-left: 1rem;

}

.left-light {
    margin-left: 7rem;
    margin-top: -.8rem;
    box-shadow: inset 0px 1px 7px black;
}

.inner {
    position: absolute;
    height: 1.4rem;
    width: 2.3rem;
    background: repeating-linear-gradient(black, #ffffcc 28%);
    border-radius: 20%;
    margin-top: 3.3rem;
    margin-left: 3.4rem;
    &:before{
    	content:'';
    	position:absolute; 
    	background: #333333;
    	width:6rem;
    	height:.2rem;
    	margin-top:-3rem;
    	margin-left:-1.8rem;
    }
}

.tire {
    height: 2rem;
    width: 1.3rem;
    border-radius:20%;
    background-color:#336699;
    margin-top: 24rem;
        &:before {
        content: '';
        position: absolute;
        height: 2rem;
        width: 1.3rem;
        border-radius: 20%;
        background-color: #336699;
        transform:translateX(5.4rem);
        z-index:-1;
    }
}
.plate{
position:absolute;
	width:3rem;
	height:.6rem;
	background:#ffffcc;
	font-size:.08rem;
	text-align:center;
	text-transform:uppercase;
	margin-top:25rem;
}
.roof{
position:absolute;
	background:#333333;
	height:.7rem;
	width: 7.7rem;
	border-radius:10%;
	margin-top:16.8rem;
	&:before,&:after{
		content:'';
		position:absolute;
		height:2.9rem;
		width:.3rem;
		background:#333333;
	}
	&:after{
		margin-left:7.4rem;
	}
}
.dog{
position:absolute;
	width:1.7rem;
	height:2.6rem;
	background-image: radial-gradient(circle at center, black 2px, white 2px), radial-gradient(circle at center, black 2px, white 2px);
    background-size: 10px 10px;
    background-position: 1px -1px, bottom left;
    background-repeat: repeat;
	margin-top:18.5rem;
	margin-left:2rem;
	border-radius:40%;
	z-index:-1;
	transform:rotate(20deg);
	&:before,&:after{
		content:'';
		position:absolute;
		background:white;
	}
	&:before{
		height:1rem;
		width:2rem;
		margin-top:-1rem;
		border-radius:30%;
		margin-left:.3rem;
	}
	&:after{
		width:.5rem;
		height:.9rem;
		background:black;
		margin-top:-.4rem;
		margin-left:.4rem;
		border-radius:50%;

	}
}
.eye{
position:relative;
	height:4px;
	width:4px;
	background:black;
	border-radius:100%;
	margin-left:1rem;
	margin-top:-.8rem;
}
.gift{
position:absolute;
@include gift(skyblue, 2rem,5rem);
	margin-top:14.8rem;
}
.gift-one{
@include gift(pink, 4rem, 2rem);
	margin-top:11rem;
	margin-left:-2rem;
}
.gift-two{
@include gift(blue, 2rem, 4rem);
	margin-top:12.77rem;
	margin-left:1rem;
}
.gift-three{
	@include gift(#33cc33, 3rem, 4rem);
	margin-top:9.8rem;
	margin-left:1rem;
}